*{
    padding: 0px;
    margin: 0px;
}
.ant{
    width: 1240px;
    margin: 0 auto;
}

.headd{
    width: 100%;
    height: 78px;
    background-color: #000000;
}
.headd .top1{
    height: 78px;
    position: relative;
}
.headd .top1 .head{
    width: 1358px;
    height: 78px;
}
.headd .top1 .lo{
    width: 167px;
    height: 60px;
    margin-top: 16px;
    background: url(../img/lol.png) no-repeat;
}
.headd .top1 .zi ul{
    width: 719.938px;
    height: 62px;
    margin-top: 16px;
    margin-left: 30px;
    position: relative;
}
.headd .top1 .zi ul li{
    float: left;
    width: 143.98px;
    height: 78px;
}
.headd .top1 .zi ul li:hover .chu{
    display: block;
}
.headd .top1 .zi ul li .t1{
    width: 143.98px;
    height: 27px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
}
.headd .top1 .zi ul li .t2{
    text-decoration: none;
    color: #aeaeae;
    font-size: 11px;
    margin-top:-1px;
    width: 143.98px;
    height: 18px;
}
.headd .top1 .zi ul li .chu{
    position: absolute;
    top: 66px;
    left: -20px;
    width: 710px;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.3);
    display: none;
}
.headd .top1 .zi ul li .chu a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}


.headd .top1 .biao{
    width: 358px;
    height: 78px;
    margin-top: 20px;
}
.headd .top1 .biao .i1{
    height: 21px;
    width: 21px;
    margin-top: 14px;
    margin-right: 33px;
    background: url(../img/精灵图2.png) no-repeat -381px -39px;
}
.headd .top1 .biao .i2{
    height: 24px;
    width: 16px;
    margin-right: 24px;
    background: url(../img/精灵图2.png) no-repeat -304px -84px;
}
.headd .top1 .biao .qin {
    width: 244px;
    height: 78px;
    position: relative;
}
.headd .top1 .biao .qin .i3{
    width: 48px;
    height: 48px;
    position: relative;
    background: url(../img/精灵图2.png) no-repeat -216px -117px;
}
.headd .top1 .biao .qin .i4{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 9px;
}
.headd .top1 .biao .qin .i4 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.headd .top1 .biao .qin .ai{
    text-decoration: none;
    color: #fefefe;
    font-size: 16px;
    line-height: 78px;
    position: absolute;
    right: 0px;
    top: -13px;
}



/* 身 */
.shen{
    width: 100%;
    background: url(../img/sprite-bg.png) no-repeat;
}
.shen1{
    height: 50px;
    padding-top: 45px;
    color: #888;
    font-size: 12px;
    position: relative;
    height: 50px;
    padding-top: 45px;
    border-bottom: 2px solid #E9E9E9;
}
.shen1 .i77{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background: url(../img/精灵图7.png) -1829px -72px;
}
.shen1 .pp{
    font-size: 14px;
    font-weight: 700;
    color: #444;
}
.shen1 .i88{
    width: 6px;
    height: 10px;
    margin: 5px 33px;
    background: url(../img/精灵图5.png) -832px -18px ;
}


.shen2{
    height: 120px;
    border: 1px solid #f1f1f1;
    background: #fff;
    margin-top: 110px;
    font-size: 12px;
    position: relative;
}
.shen2 .i76{
    width: 138px;
    height: 138px;
    position: absolute;
    top: -70px;
    left: 78px;
    background: url(../img/精灵图7.png) -143px -152px;
}
.shen2 .pp2{
    font-size: 30px;
    color: #444;
    float: left;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: -68px;
    left: 330px;
}
.shen2 .pp3{
    width: 83px;
    padding: 0 5px;
    margin: 0px 5px;
    background: #0baac0;
    border-radius: 4px;
    color: #fff;
    height: 18px;
    line-height: 18px;
    position: absolute;
    top: -46px;
    left: 482px;
}
.shen2 .ss{
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    top: 22px;
    right: 10px;
}
.shen2 .ss .pp5{
    color: #444;
    font-size: 30px;
}
.shen2 .ss .pp4{
    text-align: center;
    color: #aaa;
    font-size: 14px;
}


.shen3{
    width: 1208px;
    height: 42px;
    padding: 20px 0px 20px 30px ;
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 20px;
}
.shen3 .da1{
    width: 108px;
    height: 26px;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 700;
    border-left: 2px solid #0BAAC0;
}
.shen3 .da2{
    width: 198px;
    height: 42px;
    margin-left: 40px;
    line-height: 42px;
}
.shen3 .i74{
    width: 40px;
    height: 40px;
    background: url(../img/精灵图7.png) -1389px -76px;
}
.shen3 .da2 .da3{
    color: #444;
    text-align: center;
    margin-left: 7px;
}
.shen3 .da2 a{
    text-decoration: none;
    font-size: 12px;
    color: #0baac0;
}


.shenbao{
    width: 1240px;
    margin: 0 auto;
}
.shen4{
    width: 722px;
    height: 144px;
    margin-top: 20px;
    border: 1px solid #f1f1f1;
    padding: 30px 0px 10px 0px;
}
.shen4 .da1{
    width: 680px;
    height: 27px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    padding-left: 10px;
    border-left: 2px solid #0BAAC0;
}
.shen4 .da4{
    padding: 40px;
    margin-top: 10px;
    text-align: center;
    color: #aaa;
    background: #fff;
}


.shen5{
    width: 500px;
    margin-top: 20px;
}
.shen5 .i73{
    width: 500px;
    height: 300px;
    background: url(../img/登录页.jpg) no-repeat;
}
.shen5 .bb{
    width: 438px;
    height: 27px;
    padding: 30px;
    margin-top: 10px;
    background: #fff;
}
.shen5 .da1{
    width: 438px;
    height: 26px;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 700;
    border-left: 2px solid #0BAAC0;
}




/* 脚 */
/* 尾部 */
.foot{
    padding: 45px 0px;
    background-color: #E3E2E2;
}
.foot .footbao{
    height: 145px;
    padding: 15px 20px;
}
.foot .footbao .footz{
    width: 321px;
    height: 100px;
    margin-top: 24px;
}
.foot .footbao .footz .i200{
    width: 189px;
    height: 34px;
    background: url(../img/精灵图2.png) -215px -1px;
}
.foot .footbao .footz .i201{
    width: 82px;
    height: 28px;
    background: url(../img/精灵图2.png) -215px -85px;
}
.foot .footbao .footy li{
    line-height: 20px;
}
.foot .footbao .footy a{
    text-decoration: none;
    color: #9f9378;
    font-size: 12px;
}
.foot .footbao .footy span{
    color: #9f9378;
    font-size: 12px;
}



.father{
    position: relative;
}
.father .gu{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 105px;
    height: 53px;
    background:url(../img/精灵图4.png) no-repeat  -2px -137px;
}