/* 公共初始化样式 */
body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,a,i,em,b,strong,img,input{
    margin:0px;
    padding:0px;
}

ul,ol{
    list-style: none;
}

strong,b,em,i,del,u,ins,span{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
}

fieldset,img{
    border: 0px;
}

input{
    background: none;
    outline: none;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
}
.clearfix{
    zoom:1; /*兼容ie*/
}


.con{
    width: 1358px;
    margin:0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

h1{
    font-size: 22px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
